<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naturerb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" ></activity>
        <activity android:name=".Accueil"></activity>
        <activity android:name=".RecetteBallonement"></activity>
        <activity android:name=".SymptomesTete"></activity>
        <activity android:name=".SymptomesBras"></activity>
        <activity android:name=".SymptomesVentre"></activity>
        <activity android:name=".SymptomesJambes"></activity>
        <activity android:name=".RecetteChuteCheveux"></activity>
        <activity android:name=".RecetteOtite"></activity>
        <activity android:name=".RecetteEcoulement"></activity>
        <activity android:name=".RecetteTouxSeche"></activity>
        <activity android:name=".RecetteTouxGrasse"></activity>
        <activity android:name=".RecetteHerpes"></activity>
        <activity android:name=".RecettePiqure"></activity>
        <activity android:name=".RecetteMauxTete"></activity>
    </application>

</manifest>